:root {
    --white: #fff;
    --black: #848484;

    --primary-background-color: #f8e8e3;

    --primary-color: #ee856d;
    --accent-color: #dd8b72;

    --link-color: #1d9fce;
    --link-hover-color: #a52ba2;

    --text-color: #ecb9a9;
    --secondary-text: #dfdddb;

    --input-background: #fef5f3;

    --decoration-color: #93ccaf;

    --animation-translate-value: 10px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

body::after,
body::before {
    content:'';
    width: 350px;
    height: 350px;
    position: fixed;
    background-image: url('/leaf.png');
    background-size: contain;
    z-index: 1;
    background-repeat: no-repeat;
}

body:before {
    top: 200px;
    left: -100px;
    animation: leaf 5s infinite linear;
}

body:after {
    bottom: 200px;
    right: -100px;
    transform: scale(-1, 1);
    animation: leaf-2 5s infinite linear 1s;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: var(--primary-background-color);
    padding: 100px 40px;
}

.content {
    position: relative;
    background-color: var(--white);
    flex-grow: 1;
    max-width: 1024px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 32px;
}

.title,
.text {
    margin-bottom: 16px;
}

.title h1 {
    font-size: 96px;
    font-weight: 800;
    margin-bottom: 16px;
}

.title span {
    color: var(--accent-color);
}

.subtitle h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 16px;
}

.subtitle span {
    color: var(--accent-color);
}

.text {
    color:  var(--black);
}

.field {
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.field__input {
    border: initial;
    background-color: var(--input-background);
    color: var(--black);
    font-size: 14px;
    border-radius: 4px 0 0 4px;
    padding: 12px 24px;
    flex-grow: 2;
}

.field__input:focus,
.field__input:focus-within,
.field__input:focus-visible,
.field__input:active {
    border: initial;
    outline: initial;
}

.field__button {
    background-color: var(--primary-color);
    color: var(--input-background);
    font-size: 14px;
    border: initial;
    border-radius: 0 4px 4px 0;
    padding: 12px 24px;
}

.links {
    display: grid;
    grid-auto-flow: column;
    gap: 48px;
    margin-bottom: 32px;
}

.links__item {
    font-size: 18px;
    font-weight: 700;
}

.bottom-text {
    position: relative;
    width: 100%;
    font-size: 14px;
    color: var(--secondary-text);
}

.bottom-text::before,
.bottom-text::after {
    content: '';
    height: 1px;
    width: calc(50% - 40px);
    position: absolute;
    background-color: var(--secondary-text);
    top: 50%;
    transform: translateY(-50%);
}

.bottom-text::before {
    left: -32px;
}

.bottom-text::after {
    right: -32px;
}

@keyframes leaf {
    30%  {
        transform: translate(var(--animation-translate-value));
    }

    60% {
        transform: translate(-var(--animation-translate-value));
    }

    100% {
        transform: translate(0);
    }
}

@keyframes leaf-2 {
    30%  {
        transform: scale(-1, 1) translate(var(--animation-translate-value));
    }

    60% {
        transform: scale(-1, 1) translate(-var(--animation-translate-value));
    }

    100% {
        transform: scale(-1, 1) translate(0);
    }
}